CONFIG PART = XC6SLX4-3TQG144 ;

NET pulse_en DRIVE = 2;
NET lctclk   DRIVE = 2;

NET "pulse_en"    LOC = "P34";

NET "osc40"       LOC = "P24";
NET "compin"      LOC = "P115";
NET "compout"     LOC = "P114";

NET "pktime<0>"   LOC = "P120";
NET "pktime<1>"   LOC = "P119";
NET "pktime<2>"   LOC = "P118";

NET "lctrst"      LOC = "P116";
NET "lctclk"      LOC = "P117";
NET "pkmode<0>"   LOC = "P126";
NET "pkmode<1>"   LOC = "P123";

NET "led<0>"      LOC = "P16" | DRIVE=8;
NET "led<1>"      LOC = "P15" | DRIVE=8;
NET "led<2>"      LOC = "P14" | DRIVE=8;
NET "led<3>"      LOC = "P12" | DRIVE=8;
NET "led<4>"      LOC = "P11" | DRIVE=8;
NET "led<5>"      LOC = "P10" | DRIVE=8;
NET "led<6>"      LOC = "P9"  | DRIVE=8;
NET "led<7>"      LOC = "P8"  | DRIVE=8;
NET "led<8>"      LOC = "P7"  | DRIVE=8;
NET "led<9>"      LOC = "P6"  | DRIVE=8;
NET "led<10>"     LOC = "P5"  | DRIVE=8;
NET "led<11>"     LOC = "P2"  | DRIVE=8;

NET "distrip<0>"  LOC = "P127";
NET "distrip<1>"  LOC = "P131";
NET "distrip<2>"  LOC = "P132";
NET "distrip<3>"  LOC = "P133";
NET "distrip<4>"  LOC = "P134";
NET "distrip<5>"  LOC = "P137";
NET "distrip<6>"  LOC = "P138";
NET "distrip<7>"  LOC = "P139";

NET "samd_io<0>"  LOC = "P46";
NET "samd_io<1>"  LOC = "P48";
NET "samd_io<2>"  LOC = "P50";
NET "samd_io<3>"  LOC = "P55";
NET "samd_io<4>"  LOC = "P56";
NET "samd_io<5>"  LOC = "P38";

NET "samd_clk"    LOC = "P47";

NET "miso"        LOC = "P40";
NET "cs"          LOC = "P41";
NET "mosi"        LOC = "P45";
NET "sclk"        LOC = "P44";

NET "sclk" CLOCK_DEDICATED_ROUTE = FALSE;

NET "mux_en"      LOC ="P74";


NET "adr_med<0>"  LOC ="P82";
NET "adr_med<1>"  LOC ="P81";
NET "adr_med<2>"  LOC ="P80";
NET "adr_med<3>"  LOC ="P93";

NET "adr_high<0>" LOC ="P75";
NET "adr_high<1>" LOC ="P78";
NET "adr_high<2>" LOC ="P79";
NET "adr_high<3>" LOC ="P94";

NET "adr_low<0>"  LOC ="P88";
NET "adr_low<1>"  LOC ="P87";
NET "adr_low<2>"  LOC ="P83";
NET "adr_low<3>"  LOC ="P92";

NET "adr_prev<0>" LOC ="P95";
NET "adr_prev<1>" LOC ="P97";

NET "adr_next<0>" LOC ="P98";
NET "adr_next<1>" LOC ="P99";

NET "push_button" LOC = "P58";

NET "clk40" TNM_NET = clk40;
TIMESPEC TS_clk40 = PERIOD "clk40" 40 MHz HIGH 50%;

NET "clk_comp" TNM_NET = clk_comp;
TIMESPEC TS_clk_comp = PERIOD "clk_comp" 40 MHz HIGH 50%;

NET "sclk_buf" TNM_NET = sclk_buf;
TIMESPEC TS_sclk_buf = PERIOD "sclk_buf" 10 MHz HIGH 50%;
